
<!-- single blog start -->
<article
    class=" {{post_class}}  single_blog relative rounded-2xl bg-gradient-to-b from-transparent to-[#0000002e] w-full md:w-[45%] h-[463px] mb-14 overflow-hidden">

    <img class="rounded-2xl w-full h-full z-[-1] object-cover" src="{{#if feature_image}} {{img_url feature_image size=" m"}} {{else}}  {{asset "img/card-bg.jpg"}}{{/if}}  "
        alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}" />


    <div
        class=" overflow-hidden inline-flex flex-col justify-end p-5 text-white blog_flex_basis group hover:shadow-xl absolute left-0 bottom-0 z-10">

        {{#if tags}}
      <div class="flex gap-3">
          {{#foreach tags limit="3"}}
        <a href="{{url}}" title="{{name}}" class="single_blog_category_btn tag tag-{{id}} {{slug}}">{{name}}</a>
        {{/foreach}}
      </div>
      
        {{/if}}
        <a href="{{url}}" class="">
            <h3 class="text-2xl font-bold py-2 ">{{title}} </h3>
        </a>

        <div class="flex items-center gap-2 text-sm">
                    {{#primary_author}}
            <a href="{{url}}" class="capitalize">{{name}}</a> <span class="w-1 h-1 bg-white rounded-full"></span>
            {{/primary_author}}
            <span class="lowercase">{{reading_time}}ing</span>
        </div>
       
        <!-- blog Social icon -->
        <div class="social_icon text-2xl pt-2 invisible opacity-0 mb-[-55px]">
            {{#if @site.facebook}}
            <a href="{{facebook_url @site.facebook}}" title="{{t " Facebook"}}" target="_blank" class=" inline-block "
                title="{{t " Facebook"}}" target="_blank" rel="noopener" aria-label="{{t " Facebook"}}">
                <img src="{{asset "img/Facebook.png"}}" class="h-8 align-middle" alt="">
            </a>
            {{/if}}
            {{#if @site.twitter}}
            <a href="{{twitter_url @site.twitter}}" class=" inline-block " title="{{t " Twitter"}}" target="_blank"
                rel="noopener" aria-label="{{t " Twitter"}}">
                <img src="{{asset "img/Twitter.png"}}" class="h-8 align-middle" alt="">
            </a>
            {{/if}}
            {{!-- <a href="" class=" inline-block ">
                <img src="{{asset "img/Instagram.png"}}" class="h-8 align-middle" alt="">
            </a>

            <a href="" class=" inline-block ">
                <img src="{{asset "img/Snapchat.png"}}" class="h-8 align-middle" alt="">
            </a> --}}
        </div>
    </div>
</article>
<!-- single blog end -->