{{!-- <nav class="pagination" role="navigation">
    {{#if prev}}
    <a class="newer-posts" href="{{page_url prev}}">&larr; Newer Posts</a>
    {{/if}}
    <span class="page-number">Page {{page}} of {{pages}}</span>
    {{#if next}}
    <a class="older-posts" href="{{page_url next}}">Older Posts &rarr;</a>
    {{/if}}
</nav> --}}

{{!-- 
<div id="load-more" class="w-full flex justify-center max-h-20 cursor-pointer"><img src="{{asset 'img/loadmore.png'}}"
        alt="" /></div>
<script>
    // var pagination_next_url111 = $('link[rel=next]').attr('href'),
    //   $load_posts_button = $('#load-more');
    let pagination_next_url = document.querySelector("link[rel=next]").getAttribute('href'),
        load_posts_button = document.querySelector('#load-more');
    load_posts_button.addEventListener("click", (e) => {
        e.preventDefault()
     var request_next_link = pagination_next_url.split(/page/)[0] + 'page/' + pagination_next_page_number + '/';

        console.log(request_next_link)
        fetch(request_next_link).then(res=>console.log(res))
        .then(data=>console.log(data));
         pagination_next_page_number++;

    });

</script> --}}
{{#if next}}
  <div class="it-pagination">
    <button class="it-load-posts it-button it-button-primary">
      {{t "Load More"}}
    </button>
  </div>
{{/if}}

<script>
   
</script>