<nav
    class="container flex items-end justify-between px-5 sm:px-10 text-white text-sm z-10 pt-4 absolute left-1/2 -translate-x-2/4"
>
    <ul id="top-navbar" class="hidden sm:flex justify-between gap-16 nav_menu">

        {{navigation}}

    </ul>
    <div class="flex sm:hidden justify-start hambarger_nav">
        <i class="fas fa-bars"></i>
    </div>
    <a href="{{@site.url}}" class="logo">
        {{#if @site.logo}}
            <img
                src="{{@site.logo}}"
                alt="{{@site.title}}"
                class="light-logo"
            />
        {{else}}
            <h2 class="text-2xl font-bold text-white">{{@site.title}}</h2>
        {{/if}}
    </a>
    <div class="flex sm:gap-12 gap-4">
        <ul class="gap-16 hidden sm:flex">
            <li><a href="javascript:" data-portal="signup">Registration</a></li>
            <li><a href="javascript:" data-portal="signin">Login</a></li>
        </ul>
        <div class="flex sm:hidden justify-start order-last">
            <i class="fas fa-user"></i>
        </div>
        <div class="flex text-sm sm:gap-14 gap-4 items-end pb-1">
            <span
                class="far fa-moon transition hover:text-accent_color cursor-pointer"
            ></span>
            <span
                class="fas fa-search transition hover:text-accent_color cursor-pointer"
            ></span>
        </div>
    </div>
</nav>
<script>
    const topNav= document.querySelectorAll("#top-navbar li" );
    if(topNav.length<=2){ console.log("it's less that 2") }else
    if(topNav.length>=2){ console.log("it's more that 2") }
    {{!  }}
    const arr= topNav.forEach(add=>console.log(add)); console.log(topNav.key())
</script>