{{!< default}}
<header class="relative overflow-hidden bg-gray-500/40">

    {{#author}}
        <div class="absolute z-[-1] author-background-img w-full">
            {{#if cover_image}}
                <img
                class="w-full h-full object-cover"
                src="{{cover_image}}"
                alt=""
            />
            {{/if}}
        </div>
{{> "side-nav"}}
        <div class="userinfo flex flex-col items-center pt-28">
             {{#if profile_image}}
            <img style="height: 5rem;"
                class="w-20 object-cover rounded-full"
                src="{{profile_image}}"
                alt="{{name}}"
            />
            {{/if}}
            <h2 class="text-3xl sm:text-4xl font-bold text-white pt-5">{{name}}</h2>
            <h2
                class="text-lg sm:text-xl font-bold text-white pt-2 px-5 sm:px-0 text-center"
            >{{bio}}</h2>
            <p class="text-white text-xl">{{location}}</p>
            <div class="py-2 flex gap-3">
                 {{#if facebook}}
                <a href="{{facebook_url}}" target="_blank" rel="noopener">
                                        <img
                        src="{{asset "img/Facebook.png"}}"
                        class="h-8 align-middle"
                        alt=""
                    />
                   
                   
                </a>
                {{/if}}
                  {{#if twitter}}
                <a  href="{{twitter_url}}" target="_blank" rel="noopener" class="inline-block">
                    <img
                        src="{{asset "img/Twitter.png"}}"
                        class="h-8 align-middle"
                        alt=""
                    />
                </a>
         {{/if}}
                <a href="" class="inline-block">
                    <img
                        src="{{asset "img/Instagram.png"}}"
                        class="h-8 align-middle"
                        alt=""
                    />
                </a>

                <a href="" class="inline-block">
                    <img
                        src="{{asset "img/Snapchat.png"}}"
                        class="h-8 align-middle"
                        alt=""
                    />
                </a>
            </div>
        </div>
    {{/author}}
</header>

<!-- blog aria Start -->
<main class="container flex p-3 sm:p-10 flex-wrap mt-2 sm:mt-12">
    <!-- blog part start -->
    <div class="flex gap-x-12 mr-1 xl:mr-10 flex-wrap blog_row_flex_basis">
        {{#foreach posts}}
            {{> "card"}} {{!-- partials/card.hbs --}}
            {{/foreach}}
        

        <!-- Load More start -->
        <div class="w-full flex justify-center max-h-20"><img
                src="{{asset "img/loadmore.png"}}"
                alt=""
            /></div>
        <!-- Load More End -->

    </div>
    <!-- blog part End -->
    <!-- side bar start -->
    <div class="lg:w-4/12 sm:w-10/12 sm:mr-auto sm:ml-auto pt-8 lg:pt-0">

        <!-- Recent Post Start -->
        {{> "recent-post"}}

        <!-- Categories Start -->
      {{> "post-category"}}

        <!-- Newsletter Start -->
       {{> "newsletter"}}
    </div>
    <!-- Side bar End -->
</main>