{{!< default}}
<main class="container relative flex p-3 sm:p-10 flex-wrap mt-2 sm:mt-12">
    <!-- blog part start -->
    
    
      <div class="md:w-[75%] w-[95%]  m-auto">
                  {{#foreach posts}}       
            <div  class="flex flex-col gap-5 lg:flex-row mb-11">
                <div class="lg:min-w-[360px] lg:w-[360px] w-full h-64">
                    <a href="{{url}}">
                    <img src="{{#if feature_image}} {{img_url feature_image size=" m"}} {{else}}  {{asset "img/card-bg.jpg"}}{{/if}}" class="object-cover w-full h-full  rounded-xl" alt="">
                    </a>
                </div>
                <div class="flex justify-between flex-col gap-1  p-4  shadow dark:shadow-white/20 rounded-lg">
                 <a href="{{url}}" class="">  <h3 class="two-line-title text-2xl p-0 m-0 font-bold">{{title}}</h3></a> 
                    <p class="text-[#C3C0C3] excerpt-display text-justify"> {{#if custom_excerpt}}
                        {{custom_excerpt}}
                    {{else}}
                        {{excerpt}}
                    {{/if}} </p>
                    <div class="flex flex-col md:flex-row gap-3">
                       {{#primary_author}}
                        <a href="{{url}}" class="flex gap-2">
                            <img class="w-8 h-8 rounded-full object-cover" src="{{#if profile_image}} {{profile_image}} {{else}}  {{asset "img/card-bg.jpg"}}{{/if}}"
                                alt="">
                                
                            <h4 class="self-end text-lg">{{name}}</h4>
                        
                        </a>
                        {{/primary_author}}
                        <div class="flex self-start ml-5 md:ml-0 md:self-end gap-2">
                            <i class=" self-center far fa-calendar"></i>
                            <h4 class=" self-center">{{date created_at format="DD MMMM , YYYY"}}</h4>
                        </div>
                    </div>
                    <div class="flex lg:mt-[-2%] gap-2 ml-[15px]">
                        <span class="self-center"> <i class="far fa-clock"></i></span>
                        <p class="self-end">{{reading_time format="DD MMMM , YYYY"}}</p>
                    </div>
                </div>

            </div>
               {{/foreach}}         

        </div>
  {{pagination}}
    <!-- blog part End -->
    
      
            {{!-- {{> "card"}} partials/card.hbs --}}
         
        <!-- Load More start -->
      
        <!-- Load More End -->
    <!-- side bar start -->
    
    <!-- Side bar End -->
</main>